@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--violet);
}

.header {
  background: url("images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
  padding: 2rem;
}

.huddle-logo {
  max-width: 10rem;
}

.header__cols {
  display: grid;
  grid-template-columns: 1fr;
}

.header__image-wrapper {
  margin-top: 1rem;
  /* margin: 2rem auto;
  margin-bottom: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__image {
  max-width: 17.5rem;
}

.header__text-content {
  color: white;
  text-align: center;
  padding: 0 2rem;
}

.header__title {
  font-family: "Poppins", sans-serif;
}

.header__paragraph {
  opacity: 0.8;

  margin: 1rem auto;
  font-family: "Open Sans", sans-serif;
}

.header__button {
  padding: 0.5rem 3rem;
  font-family: "Poppins", sans-serif;
  color: var(--violet);
  cursor: pointer;
  /* font-size: 1.125rem; */
  border-radius: 5rem;
  border: none;
  display: inline-block;
  transition: 100ms ease;
}

.header__button:hover {
  color: white;
  background: var(--soft-magenta);
}

.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.icons__flex {
  display: flex;
  gap: 1rem;
  list-style: none;
}

i {
  display: inline-block;
  border-radius: 50%;
  color: white;
  font-size: 1.125rem;
  padding: 0.5rem;
  border: 1px solid white;
  transition: 100ms ease;
}

i:hover {
  color: var(--soft-magenta);
  border: 1px solid var(--soft-magenta);
}

/* for bigger screens */
@media screen and (min-width: 875px) {
  main {
    background: url("images/bg-desktop.svg");
    background-color: var(--violet);
    background-repeat: no-repeat;
  }

  .header {
    background: none;
  }

  .header__cols {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .header__image-wrapper {
    margin-top: 3rem;
  }

  .header__image {
    max-width: 30.85rem;
  }

  .header__text-content {
    text-align: left;
    padding-right: 10rem;
  }

  .header__title {
    font-size: 2.25rem;
  }

  .header__button {
    padding: 0.75rem 3rem;
  }

  .social-media-icons {
    margin-top: 2rem;
    justify-content: flex-end;
    padding-right: 5rem;
  }
}
